#login{
    max-width: 500px;
}

#login a {
    text-decoration: none;
    color: inherit;
}

#join{
    max-width: 500px;
}

#join input{
    margin-bottom: 10px;
}

.count{
    width:70px;
    /* display: inline; */
    /* padding-top: 1px; */
}

.table{
    text-align: center;
    max-width: 500px;
}